- content_tag_for(:tr, <%= model_singular_name -%>, :class => cycle(:odd, :even)) do
<% attributes.each do |attribute| -%>
  %td.<%= attribute.name %>= h <%= model_singular_name %>.try(:<%= attribute.name %>)
<% end -%>
  %td.actions
    = link_to 'Show', <%= show_path(model_singular_name) %>
    |
    = link_to 'Edit', <%= edit_path(model_singular_name) %>
    |
    = link_to 'Destroy', <%= destroy_path(model_singular_name) %>, :confirm => 'Are you sure?', :method => :delete